html{
    color:rgb(204,0,255);
    font-size:30px;
    background-color:rgb(10,0,10);
    font-family:"monospace";

}
body{
	margin: 15px auto;
	max-width:2000px;
	padding:0px 100px 324px;
	font:20px monospace;
    	background-image: url("celeste.gif");
	border-color:rgb(204,0,255);
}
.content{
	border-style:solid;
}


.song-atom a{
     font:23px monospace;
     color:rgb(30,100,200);
 }
.song-atom{
    .notes{
        font:19px monospace;
        color:rgb(120,100,200);
    }
}


.topnav{
        background-color : #6600cc
}

.topnav a{
        color:#00ff00;
        text-align:center;
        padding:14px 16px;
        text-decoration: none;
        }

.topnav a:hover{
        text-decoration:underline;
	text-align:center;
        }

.date{
	align:center;
	color:#00ff00;
	font-size:35px;
}

table, th, td {
	border:0px solid;
	border-color:white;
}

html a{
	color:#00ff00;
	text-decoration:none;
	border:50px;
}
html a:hover{
	text-decoration:underline;
	}

