html{
	background-color: rgb(30, 30, 46);
	color: rgb(155, 155, 205); 
	font-family: "Courier New", monospace;
}

b{
	color:rgb(230, 69, 83)
}

.date{
	border-style:solid;
	border-width:10px 10px;
	border-color:rgbrgb(239, 241, 245);
	h2{
		color:rgb(114, 135, 253);
		text-align:center;
	}
	.summary{
		color:rgb(30, 102, 245);		
		font-style:italic;
		text-align:center;
		border-style:solid;
		border-width: 10px 10px;
	}
	.details{
		color:rgb(136, 57, 239);
		border-style:solid;
		border-width:10px 10px;
	}
}	
